<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- Configuração da conexão do datasource e dialeto -->
		<property name="connection.datasource">java:/comp/env/jdbc/financeiro</property>
		<property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
		<property name="current_session_context_class">thread</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<!-- Mapeamento das classes -->
		<mapping class="br.com.financeiro.usuario.Usuario" />
		<mapping class="br.com.financeiro.conta.Conta" />
		<mapping class="br.com.financeiro.categoria.Categoria" />
		<mapping class="br.com.financeiro.lancamento.Lancamento" />
		<mapping class="br.com.financeiro.entidade.Entidade" />
	</session-factory>
</hibernate-configuration>
